body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', serif;
    text-align: center;
}

html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
    color:#C30000;
    font-weight:200;
    text-decoration:none;
}
a:hover {
	text-decoration: underline;
}

header {
    min-height: 300px;
    h1, h2, h3, h4, h5, h6 {
        color: grey;
        text-align: center;
    }
    ul {
        padding-left: 1ex;
        padding-right: 2ex;
        li {
            margin-left: 0;
	        list-style-type: none;
            width: 100%;
            a {
                width: 100%;
            }
        }
    }
}


section{
    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }
    h1, h2, h3 {
        line-height:1.3;
	    font-weight: thin;
	    display: block;
	    border-bottom: 1px solid #ccc;
	    padding-bottom: 5px;
    }
    ul.nav.toc {
        h5 {
            font-weight: bold;
            color: rgba(187, 0,0, 0.7);
        }
        a {
            padding: 0 10px;
        }
        hr {
            size: 1px;
        }
    }

}

#toTop {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 20px;
    color: #ffffff !important;
    opacity: 0.2;
    &:hover {
        opacity: 1;
        font-weight: bold;
    }
}
